<head>
    <nav class="bg-dark nav-bar nav py-2">
        <div class="buttons px-3">
            <button type="button" class="btn btn-dark btn-lg">Home</button>
            <button type="button" class="btn btn-dark btn-lg">Dashboard</button>
            <button type="button" class="btn btn-dark btn-lg">Logout</button>
        </div>
    </nav>
    <nav class="bg-dark nav-bar nav py-3">
        <div class="logo pl-5">
            <h1><span class="badge badge-light">The Tech Blog</span></h1>
        </div>
    </nav>
</head>
<body class="stuff">
    <div class="container blog-cards">
        <div class="card">
            <div class="card-header">
                "Posted by" Text 
                {{!-- Posted by {{}} on {{date_created}} --}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                "Posted by" Text 
                {{!-- Posted by {{}} on {{date_created}} --}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                "Posted by" Text 
                {{!-- Posted by {{}} on {{date_created}} --}}
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>                
    </div>
</body>